version: 2

updates:
  # Python backend dependencies
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 1
    groups:
      all-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: "chore(be)"
      include: "scope"

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 1
    groups:
      all-actions:
        patterns:
          - "*"
    commit-message:
      prefix: "chore(ci)"
      include: "scope"
